<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>

<body>

  <!--files-->
  <link rel="stylesheet" href="{{basePath}}assets/css/core.css" />
  <link rel="stylesheet" href="{{basePath}}assets/css/{{cssName}}.css" />
  <script type="text/javascript" src="{{basePath}}assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="{{basePath}}assets/js/core.js"></script>
  <script type="text/javascript" src="{{basePath}}assets/js/global.js"></script>
  <!--/files-->
